ALTER TABLE fidelizacion ADD COLUMN umbral_aplicado INT;
CREATE TABLE fidelizacion_config (
    id          BIGINT GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    sede_id     BIGINT NOT NULL UNIQUE REFERENCES sede(id) ON DELETE CASCADE,
    umbral      INT NOT NULL DEFAULT 6,
    updated_at  TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
